/*
add custom css in template here
*/
.item-image,
[class|="img-intro"] {
  padding-right: .8em;
}
.latestnews [class|="img-intro"] img {
  max-width: 7em;
}
.nav-quick-wrapper {
  background-color: #EEE;
  padding: 1em;
}
.nav-quick-wrapper .column {
  min-height: 9em;
  border-right: 1px solid #ccc;
}
.nav-quick-wrapper .column-headline {
  font-size: 1em;
  text-transform: uppercase;
}
.nav-quick-wrapper a {
  font-size: 0.85em;
}
.footer-menu-wrapper {
  margin-top: 1em;
}
