/*
add custom css in template here
*/
/**
* include this file in your less file to use it.
*/
.nav-sidebar .nav > li > a,
.nav-sidebar .nav > li .separator {
  font-size: .9em;
  font-weight: 400;
}
.nav-sidebar .nav > li > a {
  color: #ff9408;
}
.nav-sidebar .nav > li > a:hover,
.nav-sidebar .nav > li > a:focus {
  background-color: rgba(0, 0, 0, 0);
  color: #f1cd77;
  text-decoration: none;
}
.nav-sidebar .nav .current.active > a {
  background-color: rgba(0, 0, 0, 0);
  color: #f1cd77;
  font-weight: 700;
}
.nav-sidebar > .nav > li > a,
.nav-sidebar > .nav > li .separator {
  padding: 0.2em 1.1em;
}
.nav-sidebar > .nav > li > a {
  border-top: 1px solid #cccccc;
  font-size: 1em;
  padding: 0.72em 1.1em;
  color: #ff9408;
}
.nav-sidebar > .nav .nav > li > a,
.nav-sidebar > .nav .nav > li .separator {
  padding: 0.2em 2.2em;
}
.nav-sidebar > .nav .nav .nav > li > a,
.nav-sidebar > .nav .nav .nav > li .separator {
  padding: 0.2em 3.3000000000000003em;
}
.nav-sidebar > .nav .nav .nav .nav > li > a,
.nav-sidebar > .nav .nav .nav .nav > li .separator {
  padding: 0.2em 4.4em;
}
.nav-sidebar > .nav .nav .nav .nav .nav > li > a,
.nav-sidebar > .nav .nav .nav .nav .nav > li .separator {
  padding: 0.2em 5.5em;
}
.nav-sidebar > .nav > li > ul.nav {
  margin-bottom: 10px;
}
.nav-sidebar > .nav > li:last-child {
  border-bottom: 1px solid #cccccc;
}
a {
  color: #ff9408;
}
a:hover,
a:focus {
  color: #ffc06e;
}
.btn-primary {
  background-color: #ff9408;
  border-color: #d47800;
  color: white;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle .btn-primary {
  background-color: #ffc06e;
  border-color: #ff9408;
  color: white;
}
.btn-link {
  color: #ff9408;
}
.btn-link:hover,
.btn-link:focus {
  color: #ffc06e;
}
#topnav a,
.footer-menu-wrapper a {
  color: #999999;
}
#topnav a:hover,
.footer-menu-wrapper a:hover,
#topnav a:focus,
.footer-menu-wrapper a:focus {
  color: #222222;
}
#topnav a,
.footer-menu-wrapper a,
#topnav .separator,
.footer-menu-wrapper .separator {
  font-size: 0.9em;
}
.navbar-default {
  background-color: #ff9408;
}
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: white;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: white;
  background-color: transparent;
}
.navbar-default,
.nav-child {
  border: 0;
  border-radius: 0;
}
.nav-child {
  padding: 0;
}
.nav-child > li > a {
  padding: 15px 20px;
}
.nav-child > li > a:hover,
.nav-child > li > a:focus {
  background-color: #ff9408;
  color: white;
}
.nav-child > .active > a,
.nav-child > .active > a:hover,
.nav-child > .active > a:focus {
  background-color: #ffc06e;
}
.breadcrumb {
  background-color: transparent;
}
.item-image,
[class|="img-intro"] {
  padding-right: .8em;
}
.latestnews [class|="img-intro"] img {
  max-width: 7em;
}
.blog .news-item .item-image img {
  max-width: 10em;
}
.blog .news-item .date {
  color: #999999;
}
.nav-quick-wrapper {
  background-color: #EEE;
  padding: 1em;
}
.nav-quick-wrapper .column {
  min-height: 9em;
  border-right: 1px solid #ccc;
}
.nav-quick-wrapper .column-headline {
  font-size: 1em;
  text-transform: uppercase;
}
.nav-quick-wrapper li a,
.nav-quick-wrapper li span {
  font-size: 0.85em;
}
.footer-menu-wrapper {
  margin-top: 1em;
}
