/*
add custom css in template here
*/

.nav-quick-wrapper {
    background-color: #EEE;
    padding: 1em;

    .column {
        min-height: 9em;
        border-right: 1px solid #ccc;
    }

    .column-headline {
        font-size: 1em;
        text-transform: uppercase;
    }
    a {
        font-size: 0.85em;
    }
}

.footer-menu-wrapper {
  margin-top: 1em;
}