/*
add custom css in template here
*/
@import "bootstrap/variables";
@import "sidebar";

// custom variables
@orange-darker:            lighten(@orange, 13.5%);
@orange-dark:              lighten(@orange, 20%);
@orange:                   #FF9408;
@orange-light:             #F1CD77;

@link-color: @orange;
@link-hover-color: @orange-dark;
@menu-link-color: @link-color;

//common styles
a {
    color: @link-color;
    &:hover, &:focus {
        color: @link-hover-color;
    }
}

//buttons
.btn-primary {
    background-color: @link-color;
    border-color: darken(@link-color, 10%);
    color: white;

    &:hover, &:focus, &:active, &.active, .open .dropdown-toggle & {
        background-color: @link-hover-color;
        border-color: @link-color;
        color: white;
    }
}
.btn-link {
    color: @link-color;
    &:hover, &:focus {
        color: @link-hover-color;
    }
}

//meta navigation
#topnav, .footer-menu-wrapper {
    a {
        color: @gray-light;
        &:hover,
        &:focus {
            color: @gray-darker;
        }
    }
    a, .separator {
        font-size: 0.9em;
    }
}

//main navigation
.navbar-default {
    background-color: @orange;
    .navbar-nav {
        & > li > a {
            &,
            &:hover,
            &:focus {
                color: white;
            }
        }
        > .active > a {
            &,
            &:hover,
            &:focus {
                color: white;
                background-color: transparent;
            }
        }
    }
}

.navbar-default, .nav-child {
    border: 0;
    border-radius: 0;
}

.nav-child {
    padding: 0;
    & > li > a {
        padding: 15px 20px;
        &:hover, &:focus {
            background-color: @link-color;
            color: white;
        }
    }
    // Active state
    & > .active > a {
        &,
        &:hover,
        &:focus {
            background-color: @link-hover-color;
        }
    }
}

//sidebar
//side navigation
@sidebar-border-color: #ccc;
@sidebar-link-color: @link-color;
@sidebar-link-hover-color: @orange-light;
@sidebar-link-active-color: @sidebar-link-hover-color;

//content related stuff below
.breadcrumb {
    background-color: transparent;
}

//images
.item-image,
[class|="img-intro"] {
    padding-right: .8em;
}

.latestnews [class|="img-intro"] {
    img {
        max-width: 7em;
    }
}

//news
.blog {
    .news-item { 
        .item-image img {
            max-width: 10em;
        }
        .date {
            color: @gray-light;
        }
    }
}

//quick navigation
.nav-quick-wrapper {
    background-color: #EEE;
    padding: 1em;

    .column {
        min-height: 9em;
        border-right: 1px solid #ccc;
    }

    .column-headline {
        font-size: 1em;
        text-transform: uppercase;
    }
    li {
        a, span {
            font-size: 0.85em;
        }
    }
}

//footer
.footer-menu-wrapper {
    margin-top: 1em;
}